services:
  # bot:
  #   restart: on-failure
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #   env_file:
  #     - .env
  #   environment:
  #     - POSTGRES_HOST=db
  #   volumes:
  #     - ./src:/app
  #   command: python -m bot.main

  api:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      - DB__POSTGRES_HOST=db
    ports:
      - "${AUTH_PORT}:5000"
    volumes:
      - ./src:/app/src
    command: uvicorn api.main:app --host 0.0.0.0 --port 5000 --reload
  

  # scheduler:
  #   restart: on-failure
  #   depends_on:
  #     - bot
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #   env_file:
  #     - .env
  #   environment:
  #     - POSTGRES_HOST=db
  #   volumes:
  #     - ./src:/app
  #   command: python -m scheduler.schedule

  db:
    image: postgres:16.4-alpine
    environment:
      POSTGRES_DB: ${DB__POSTGRES_DB}
      POSTGRES_USER: ${DB__POSTGRES_USER}
      POSTGRES_PASSWORD: ${DB__POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "${DB__POSTGRES_PORT}:${DB__POSTGRES_PORT}"
    expose:
      - ${DB__POSTGRES_PORT}
    command: -p ${DB__POSTGRES_PORT}


volumes:
  postgres_data:

